@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex flex-column flex-lg-row justify-content-end" style="padding-right:3rem;">
    <div class="d-flex justify-content-center justify-content-lg-end" style="padding:3rem">
        <div class="bg-white d-flex flex-column align-items-stretch flex-center rounded-3 w-auto" style="padding:5rem;">
            <div class="text-end mx-5">
                <div class="mb-3">
                    <h4 class="h3 mb-0 fw-normal">Welcome to your Flower shop</h4>
                    <div class="text-gray fw-semibold fs-6">Flowers' Inventory System</div>
                </div>
                <button class="btn btn-primary w-auto py-2" type="submit">Go to Inventory</button>
            </div>
        </div>
    </div>
</div>